<div class="flashcard mt-3">
  <div class="d-flex align-items-center justify-content-between">
    <div class="info">
      <%= flashcard.slug %> - <%= flashcard.difficulty %>
    </div>
    <div class="reveal">
      <button class="">Reveal</button>
    </div>
  </div>
  <div class="front my-3">
    <%= flashcard.front %>
  </div>

  <div class="back">
    <%= flashcard.back %>
  </div>
</div>
